body{
    width: 90%;
    text-align: center;
    background-color: #333;
}
.heading{
    color: #efefef;
    font-size: 3em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#canvas{
    margin: 10% auto;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 1px 1px 7px 3px ;
}